<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app='MyApp'>

  <h1>About Last Nite</h1>
  <p id="small">Send your favorite pics from last night's event. Share. Vote. Win.</p>
  <div ng-controller='mainCtrl' class="container">
    <div class="row">
       <form class="col s12">
         <div class="row">
           <div class="input-field col s6">
             <input placeholder="Enter url" id="first_name" type="text" class="validate" ng-model="upload.image">
             <label for="">Image URL</label>
           </div>
           <div class="input-field col s6">
             <input id="last_name" type="text" class="validate" ng-model="upload.desc">
             <label for="">Description</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s6">
             <input type="date" class="datepicker" ng-model="upload.time">
             <!-- <input type="text" class="validate"> -->
             <label for=""></label>
           </div>
           <div class="input-field col s6">
             <input id="rating" type="number" class="validate" ng-model="upload.edit">
             <label for="rating">Rating</label>
           </div>
         </div>
        <button id="submit" class="btn waves-effect waves-light" type="submit" name="action" ng-click="addUpload()">Submit
          <i class="material-icons right"></i>
        </button>
       </form>
     </div>

     <div class="row">
       <form class="col s12">
         <div class="row">
           <div class="input-field col s8">
             <i class="material-icons prefix"></i>
             <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
             <label for="icon_prefix2">Add a comment</label>
           </div>
          <div class="col s2">
            <a class="btn-floating yellow darken-1"><i class="material-icons">"</i></a>
          </div>
         </div>
       </form>
     </div>

     <div class="row">
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <img src="rager-4.jpg">
             <span class="card-title">Card Title</span>
           </div>
           <div class="card-content">
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p>
           </div>
           <div class="card-action">
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <img src="ladies.jpg">
             <span class="card-title">Card Title</span>
           </div>
           <div class="card-content">
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p>
           </div>
           <div class="card-action">
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <img src="raye.jpg">
             <span class="card-title">Card Title</span>
           </div>
           <div class="card-content">
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p>
           </div>
           <div class="card-action">
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <img src="solange.jpg">
             <span class="card-title">Card Title</span>
           </div>
           <div class="card-content">
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p>
           </div>
           <div class="card-action">
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <img src="ladies.jpg">
             <span class="card-title">Card Title</span>
           </div>
           <div class="card-content">
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p>
           </div>
           <div class="card-action">
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <img src="raye.jpg">
             <span class="card-title">Card Title</span>
           </div>
           <div class="card-content">
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p>
           </div>
           <div class="card-action">
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
     </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
